<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    nav {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 0.2rem;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        align-items: center ;
    }

    nav ul li {
        margin: 0 1rem;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }
</style>

<nav>
    <ul>
        <h2>CCp2 Julien Bossaert</h2>
    </ul>
    <ul>
        <li><a href="/">Accueil</a></li>
        <% if(user) { %>
            <li><a href="/compte">Mon Compte</a></li>
        <% } else { %>
            <li><a href="/compte">S'Authentifier</a></li>
        <% } %>
    </ul>
    
</nav>